<style>
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    .full-width {
        width: 100% !important;
    }
    
    button, input, select, textarea {
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
    }
    
    @media (min-width: 750px) {
        .column {
            float: left;
        }
    
        .section:after {
            content:"";
            display:table;
            clear:both;
        }
    
        .content {
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .layout-10068759396507776 {
      background: #E4E4E4;
    }
    
    .text-5189785669365141 {
      min-height: 95px;
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
    }
    
    @media (min-width: 750px) and (max-width: 970px) {
        .b-0 {
          margin-top: 75px;
        }
        
        .layout-10068759396507776 {
          padding-bottom: 85px;
          margin-left: 205px;
          width: 220px;
        }
        
        .b-0-0-0 {
          margin-top: 29px;
        }
        
        .text-5189785669365141 {
          margin-left: 46px;
          width: 89px;
        }
        
        .content {
          width: 750px;
        }
    }
    
    @media (min-width: 970px) and (max-width: 1170px) {
        .b-0 {
          margin-top: 98px;
        }
        
        .layout-10068759396507776 {
          padding-bottom: 76px;
          margin-left: 266px;
          width: 285px;
        }
        
        .b-0-0-0 {
          margin-top: 38px;
        }
        
        .text-5189785669365141 {
          margin-left: 60px;
          width: 116px;
        }
        
        .content {
          width: 970px;
        }
    }
    
    @media (min-width: 1170px) {
        .b-0 {
          margin-top: 118px;
        }
        
        .layout-10068759396507776 {
          padding-bottom: 69px;
          margin-left: 320px;
          width: 343px;
        }
        
        .b-0-0-0 {
          margin-top: 45px;
        }
        
        .text-5189785669365141 {
          margin-left: 72px;
          width: 139px;
        }
        
        .content {
          width: 1170px;
        }
    }
    
    @media (max-width: 750px) {
        .column {
            float: none;
        }
    
        * {
            margin: 0 !important;
            width: auto !important;
            max-width: 100%;
        }
    
        img {
            max-width: 52%;
            margin-left: auto !important;
            margin-right: auto !important;
            display: block;
            min-height: 0 !important;
        }
    
        img:not([src]) {
            width: 52% !important; /* make sure empty images still show up */
        }
    
        iframe {
            width: 100% !important;
        }
    }
</style>
<div class="column layout-10068759396507776">
    <div class="section b-0-0-0">
        <div class="column text-5189785669365141">
            <div>asdfsdf</div>
        </div>
    </div>
</div>